.root {
    width: 100%;
  }

  .bdColor {
    border-left-color: red;
    border: solid 2px transparent;
    width: 230px;
  }

  .h1 {
    font-size: 60px;
    margin-left: 16px;
  }
  
  .h4 {
    font-size: 17px;
    margin-left: 16px;
    margin-top: 18px;
  }