.root {
    width: 100%;
  }

  .title {
    font-size: 14;
  }

  .pos {
    margin-bottom: 12;
  }

  .avatar {
    border-radius: 150px;
    width: 150px;
    height: 150px;
  }

  .position {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }