.text {
    padding-top: 12px;
    text-align: center;
    height: 40px;
    background-color: #98B2D1;
}

.textwhite {
    padding-top: 12px;
    text-align: center;
    height: 40px;
    background-color: black;
    color: white;
}

.position {
    display: flex;
    flex-direction: row;
  }

.btnStyle {
    text-transform: none;
    color: black;
}