.root {
    flex-grow: 1;
    .MuiTab-root {
      text-transform: none;
    }
  }

  .appbar {
    background-color: white;
    color: black;
    display: grid;
    justify-content: end;

    .PrivateTabIndicator-colorSecondary-5 {
      background-color: black;
    }
  }